USE [master]
GO
/****** Object:  Database [project]    Script Date: 28/03/2024 00:45:52 ******/
CREATE DATABASE [project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [project]
GO
/****** Object:  UserDefinedFunction [dbo].[fathersTask]    Script Date: 28/03/2024 00:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fathersTask](@taskId int) returns @tbl table(taskId int,[TaskContent] varchar(200))
 as
 begin
 with fatherTask
 as
 (
select taskId,TaskContent,[fatherTaskID]
from task
where TaskId=@taskId
union all
select task.taskId,task.TaskContent,task.[fatherTaskID]
from task join fatherTask on
task.TaskId=fatherTask.[fatherTaskID]
 )
 insert into @tbl
select taskId,TaskContent
from fatherTask
return
 end
GO
/****** Object:  UserDefinedFunction [dbo].[identification]    Script Date: 28/03/2024 00:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[identification] (@userName varchar(20), @password nvarchar(10)) returns int
as
begin
if( @userName not in (select userName  from Users))
return 0;
--יש משתמש ובדיקה האם הסיסמה שהתקבלה שווה לסיסמה של שם זה  
if(@password = (select password  from Users where UserName=@userName))
return (select UserId 
        from Users
		where @password=[password])
return -1
end
GO
/****** Object:  UserDefinedFunction [dbo].[op]    Script Date: 28/03/2024 00:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[op](@taskId int) returns @tbl table (taskId int, taskContent varchar(200))
as
begin
with fhatherTask
as(
select taskId, taskContent, [fatherTaskId]
from Tasks
where @taskId = taskId
union all
select Tasks.taskId, Tasks.taskContent, Tasks.fatherTaskId
from Tasks join fhatherTask
on Tasks.taskId = fatherTask.[fatherTaskId]
)
insert into @tbl
select taskId, taskContent
from fatherTask
return
end
GO
/****** Object:  UserDefinedFunction [dbo].[Retrieving_all_subtasks]    Script Date: 28/03/2024 00:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[Retrieving_all_subtasks] (@taskId int) returns @tbl table (taskId int,
                                                                           [TaskContent] varchar(200))
as
begin
with Retrieving_subtasks 
as
(
select taskId,TaskContent
from task
where TaskId=@taskId
union all
select task.taskId,task.TaskContent
from task join Retrieving_subtasks on
task.[fatherTaskID]=Retrieving_subtasks.TaskId
)
insert into @tbl
select *
from Retrieving_subtasks
return
end
GO
/****** Object:  UserDefinedFunction [dbo].[retrievingTasks]    Script Date: 28/03/2024 00:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[retrievingTasks] (@UserName varchar(20),@passward nvarchar(15))
 returns @tbl table (taskid int,
 [DateCreateTask] date,
 [TaskContent] varchar(100),
 [TaskCreatorId] int,
 [TaskperformId] int,
 [status] int,
 [DateOfStatusChange] date,
 fatherTaskID int,
 sign1 nvarchar(3))
 as
 begin
 if((select dbo.identification(@UserName,@passward))<0)
 return
 else
 begin
 declare @userid int = ( dbo.identification(@UserName,@passward))
 insert into @tbl
 select *,(case when [status]=3 then 'v'
               when [status]=4 then 'x'
			   when [status]=2 and DATEDIFF(mm,DateOfStatusChange,getdate())<3 then '!'
			    when [status]=1 and DATEDIFF(mm,DateOfStatusChange,getdate())<3 then '!'
			   else '!!!'
			   end)
 from task
 where TaskperformId=@userid
end  
return	 
 end
GO
/****** Object:  UserDefinedFunction [dbo].[the_workers_below]    Script Date: 28/03/2024 00:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[the_workers_below] (@userId int) returns @tbl table(UserId int,UserName varchar(20))
 as
 begin
 with workers_below
 as
 (
 select UserId ,UserName
 from Users
 where managerId=@userId
 union all
 select Users.UserId ,Users.UserName
 from Users join workers_below on
 users.managerId=workers_below.UserId
 )
 insert into @tbl
 select *
 from workers_below
 return
 end 
GO
/****** Object:  Table [dbo].[statusim]    Script Date: 28/03/2024 00:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statusim](
	[statusId] [int] IDENTITY(1,1) NOT NULL,
	[statusName] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[statusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[task]    Script Date: 28/03/2024 00:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[task](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[DateCreateTask] [date] NOT NULL,
	[TaskContent] [varchar](200) NULL,
	[TaskCreatorId] [int] NULL,
	[TaskperformId] [int] NULL,
	[status] [int] NOT NULL,
	[DateOfStatusChange] [date] NOT NULL,
	[fatherTaskID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28/03/2024 00:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(100,1) NOT NULL,
	[UserName] [varchar](20) NOT NULL,
	[password] [nvarchar](10) NOT NULL,
	[managerId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[statusim] ON 

INSERT [dbo].[statusim] ([statusId], [statusName]) VALUES (1, N'ממתין לטיפול')
INSERT [dbo].[statusim] ([statusId], [statusName]) VALUES (2, N'בטיפול')
INSERT [dbo].[statusim] ([statusId], [statusName]) VALUES (3, N'בוצע')
SET IDENTITY_INSERT [dbo].[statusim] OFF
GO
SET IDENTITY_INSERT [dbo].[task] ON 

INSERT [dbo].[task] ([TaskId], [DateCreateTask], [TaskContent], [TaskCreatorId], [TaskperformId], [status], [DateOfStatusChange], [fatherTaskID]) VALUES (1, CAST(N'2024-03-21' AS Date), N'להכין משלוחי מנות', 100, 101, 3, CAST(N'2024-03-21' AS Date), NULL)
INSERT [dbo].[task] ([TaskId], [DateCreateTask], [TaskContent], [TaskCreatorId], [TaskperformId], [status], [DateOfStatusChange], [fatherTaskID]) VALUES (2, CAST(N'2024-03-21' AS Date), N'לקנות צלופנים', 101, 103, 3, CAST(N'2024-03-21' AS Date), 1)
INSERT [dbo].[task] ([TaskId], [DateCreateTask], [TaskContent], [TaskCreatorId], [TaskperformId], [status], [DateOfStatusChange], [fatherTaskID]) VALUES (3, CAST(N'2024-03-21' AS Date), N'להוציא כסף מהבנק', 103, 103, 3, CAST(N'2024-03-21' AS Date), 2)
SET IDENTITY_INSERT [dbo].[task] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserName], [password], [managerId]) VALUES (100, N'נחמי שורץ', N'2153', NULL)
INSERT [dbo].[Users] ([UserId], [UserName], [password], [managerId]) VALUES (101, N'מיכל בושריאן', N'מיכל58', NULL)
INSERT [dbo].[Users] ([UserId], [UserName], [password], [managerId]) VALUES (102, N'שני כהן', N'sc123', 102)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__6E2DBEDE0598DB4D]    Script Date: 28/03/2024 00:45:52 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[password] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[task]  WITH CHECK ADD FOREIGN KEY([fatherTaskID])
REFERENCES [dbo].[task] ([TaskId])
GO
ALTER TABLE [dbo].[task]  WITH CHECK ADD FOREIGN KEY([status])
REFERENCES [dbo].[statusim] ([statusId])
GO
ALTER TABLE [dbo].[task]  WITH CHECK ADD FOREIGN KEY([TaskCreatorId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[task]  WITH CHECK ADD FOREIGN KEY([TaskperformId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([managerId])
REFERENCES [dbo].[Users] ([UserId])
GO
/****** Object:  StoredProcedure [dbo].[addGeneralTask]    Script Date: 28/03/2024 00:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addGeneralTask] (@fatherTaskID int,@TaskContent nvarchar(100))
as
 BEGIN TRANSACTION
 declare group_of_worker cursor for
select UserId
from Users
where managerId=@fatherTaskID
declare @userid int
begin try

open group_of_worker
fetch next from group_of_worker into @userid
while @@FETCH_STATUS=0
begin
exec addTask '2024-03-07',@TaskContent,@fatherTaskID,@userid,null
fetch next from group_of_worker into @userid
end
close group_of_worker
deallocate group_of_worker
commit
end try
begin catch
rollback
end catch

GO
/****** Object:  StoredProcedure [dbo].[addGeneralTasks]    Script Date: 28/03/2024 00:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addGeneralTasks] (@taskContent varchar(200), @fatherTaskId int)
as
begin tran
declare @userId int
declare workerGroup cursor for
select userId
from Users
where managerId = @fatherTaskId
open workerGroup
begin try
fetch next from workerGroup into @userId
while @@FETCH_STATUS = 0
begin
fetch next from workerGroup into @userId
exec addTask  '2024-03-27', @taskContent, @fatherTaskId, @userId, null
end
close workerGroup
deallocate workerGroup
commit
end try
begin catch
close workerGroup
deallocate workerGroup
rollback
end catch


GO
/****** Object:  StoredProcedure [dbo].[addTask]    Script Date: 28/03/2024 00:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[addTask] (@DateCreateTask date, @TaskContent varchar(100),@TaskCreatorId int
,@TaskperformId int, @fatherTaskID int)
as
if(@TaskperformId in (select userid from the_workers_below(@TaskCreatorId)))
begin
     insert into task 
     values(@DateCreateTask , @TaskContent ,@TaskCreatorId ,@TaskperformId 
     ,1,getDate(), @fatherTaskID )
end
else
throw 50001,'לא ניתן להוסיף משימה למשתמש שאינו כפוף ליוצר המשימה',1
GO
/****** Object:  StoredProcedure [dbo].[ChangeStatus]    Script Date: 28/03/2024 00:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ChangeStatus] (@taskId int,@status int)
as
update task
set [status]=@status,DateOfStatusChange=GETDATE()
where TaskId=@taskId
GO
USE [master]
GO
